html, body {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(75, 74, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 550px;
}

.container {
  min-width: 500px;
}

.cell {
  min-width: 1rem;
  min-height: 1rem;

  background: rgb(17, 16, 16);
  padding: 2px;
  border-radius: 10px;
}
.cell[state="alive"] {
  background-color: rgba(75, 247, 146, 0.486);
}


.highlighted::before {
  content: ' ';
  /* fill the div entirely */
  position: relative;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  /* add a border */
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* add a border radius */
  border-radius: 10px;
}


.cell[state="dead"] {
  background-color: rgba(26, 6, 6, 0.699);
}

.starting-point {
  background: rgba(255, 227, 105, 0.5) !important;
  overflow: hidden; 
}


.target-point {
  background: rgba(177, 12, 12, 0.658) !important;
  position: relative;
}


.observer {
  position: relative !important;
}

.observer::before {
  content: ' ';
  z-index: 5;
  width: 5px;
  height: 5px;
  background: rgb(255, 227, 105) !important;
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  box-shadow: 0 0 15px 15px rgba(255, 15, 223, 0.486);
}



@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}