html, body {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(75, 74, 74);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 550px;
}

.container {
  min-width: 500px;
}

.cell {
  width: 0.75rem;
  height: 0.75rem;
  background: rgb(17, 16, 16);
  padding: 2px;
  border-radius: 10px;
}

.cell[state="dead"] {
  background: rgb(17, 16, 16)
}

.cell[state="alive"] {
  background: rgb(124, 247, 185)
}

.cell[state="starting-point"] {
  background: rgb(12, 180, 63)
}

.cell[state="starting-point-with-observer"] {
  background: rgb(12, 180, 63);
  position: relative;
}

.cell[state="starting-point-with-observer"]::before {
  content: ' ';
  width: 5px;
  height: 5px;
  background: rgb(255, 227, 105);
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  box-shadow: 0 0 15px 15px rgba(255, 15, 223, 0.486);
}

.cell[state="observer"] {
  position: relative;
  background: rgba(0, 0, 0, 0.171);
}

.cell[state="observer"]::before {
  content: ' ';
  width: 5px;
  height: 5px;
  background: rgb(255, 227, 105);
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  box-shadow: 0 0 15px 15px rgba(255, 15, 223, 0.486);
}

.cell[state="target-point"] {
  background: rgb(12, 180, 63)
}

.cell[state="target-point-with-observer"] {
  background: rgb(12, 180, 63);
  position: relative;
}

.cell[state="target-point-with-observer"]::before {
  content: ' ';
  width: 5px;
  height: 5px;
  background: rgb(255, 227, 105);
  border-radius: 50%;
  animation: float 2s ease-in-out infinite;
  position: absolute;
  top: 50%;
  left: 45%;
  box-shadow: 0 0 15px 15px rgba(255, 15, 223, 0.486);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}